body {
    font-size: 15pt;
    background-color: #FCF6F5;
    min-width: 320px;
}

form{
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 80%;
  margin:auto;
}

button{
  background-color: #990011;
  color: whitesmoke;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;

}

input{
  border: 2px grey solid;
  border-radius: 5px;
}

label{
  font-size: 0.6em;
  padding:0;
  margin: 0;
}

input[type="number"]{
  width: 1.5em;
}

input[type="text"]{
  color: lightgrey;
  font-weight: bold;
}

form>input{
  font-size: 1.2em;
}
 
.timeinputswrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 1em;
}

.unitinputwrapper{
  display: flex;
  flex-direction: column-reverse;
}

.unitinputwrapper > input{
  font-size: 1.5em;
  width: 50%;
}

p{
  margin-bottom: 1em;
}

@media only screen and (min-width: 600px) {
  body {
    background-color: lightblue;
  }
  
  
  input[type="number"]{
    width: 1.5em;
    
  }
}